.main-foto {
  width: 1360px;
  height: 1325px;
  padding-left: 40px;
}

.perfect {
  color: var(--Text-Dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.perfect > span {
  color: var(--Text-Accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
.wumen {
  width: 660px;
  height: 590px;
  margin-top: 40px;
  border-radius: 20px;
}
.men {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 40px;
}
.teibel {
  width: 660px;
  height: 430px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-top: 40px;
  border-radius: 20px;
}
.pair {
  width: 660px;
  height: 590px;
  border-radius: 20px;
}

.pipel {
  display: flex;
}
.pipel__ram {
  display: block;
}
